

/* DESKTOP ------------------------------------------------------ */

@media only screen and (min-width: 1280px) {

    .container, .container-fluid {
        /* border: 2px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90% !important;
       
    }
    img#logo-baner {
        /* border: 2px solid brown; */
        width: 70%;
        margin-left: 10%;
        display: flex;
        flex-wrap: wrap;
        
    }
    .container {
        /* border: 2px solid greenyellow; */
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 10%;
    }

    #navbarNav {
        /* border: 2px solid blue; */
        margin-left: 40%;
        padding: 20px;
    }
    #navbarNav li a {
        padding: 20px 30px;
        font-family: "Poppins";
        font-size: 18px;
    }
    
    /* SECTION --------------------------------------- */
    
   

    .banner {
        /* border: 2px solid darkmagenta; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }


    .menu_txt {
        /* border: 2px solid mediumslateblue; */
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu {
        /* border: 2px solid rgb(13, 34, 97); */
        background-color: #f3d5d5;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        float: left;
        border-top-right-radius: 0;
       
        border-bottom-left-radius: 10px;
    }
    
    .nombre_salon h2 {
        /* border: 2px solid rosybrown; */
        text-align: center;
        font-family: "Poppins";
        font-weight: bold;
        font-size: 60px;
        width: 100%;
        color: gray;
        margin-top: 130px;
    }

    .parrafo1 {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 50px;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 3%;
        text-align: center;
    }
    .txt {
        background-color: #E2DDDD;
        clear: both;
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 50%;
        float: right;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .parrafo2 {
        /* border: 2px solid mediumspringgreen; */
        background-color: #F4E9E9;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: center;
        padding: 80px 40px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 10px;
    }





    /* --- --- CAROUSEL --- --- */

   
    .carousel__anterior, .carousel__siguiente {
       
        color: rgba(0, 0, 0, 0.801);
        opacity: 50%;
    }
    .carousel__anterior:hover, .carousel__siguiente:hover {
        opacity: 100%;
    }
    .carousel__anterior {
        left: -70px;
    }
    .carousel__siguiente {
        right: -10px;
    }
   

   

    /* DIV MENU GUISADOS Y TAQUIZAS / MESA DE DULCES------------ */
    #menu_menu {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        /* background-image: url(../img/taco.png); */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        border-radius: 10px;
    }

    .contenedor_taquiza_guisado_menu {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        /* justify-content: center; */
        align-items: flex-start
    }

    .titulo_menu {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 75px;
        margin-bottom: 45px;
        
    }

    
    .taquiza {
        /* border: 2px solid skyblue; */
        display: flex;
        flex-wrap: wrap;
        width: 33%;
        height: 75%;
        margin-top: 20px;
        margin-right: 10px;
        justify-content: center;
        padding-bottom: 20px;
        /* padding-top: 10px; */
        border-right: 3px solid gray;
        border-right-style: double;
    }

    
    #titulo_lista_tacos {
        list-style: none;
        font-size: 22px;
        font-weight: 600;
    }

    .guisados_menu {
        /* border: 2px solid greenyellow; */
        display: flex;
        flex-wrap: wrap;
        width: 33%;
        margin-top: 20px;
        justify-content: center;
        border-right: 3px solid gray;
        border-right-style: double;
    }
    #titulo_lista_guisados {
        list-style: none;
        font-size: 22px;
        font-weight: 600;
        /* padding-top: 15px; */
    }
    li {
        font-family: 'Montserrat', sans-serif;
    }
    h5 {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 22px;
       
    }


    /* MESA CARRUSEL DULCES --------------------*/

    .dulce_menu {
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 33%;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        border-top: 0;
        border-bottom: 0;
        padding: 12px;
        text-align: start;
        list-style:circle;
    }
    #titulo_lista_dulces {
        font-size: 22px;
        
        align-items: center;
        font-weight: 600;
        
    }
  


    /* MAPA----------------------------- */
    .mapa {
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        margin-top: 20px;
    }
    iframe {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }


    /* FORMULARIO --------------------------*/
    .formulario {
        /* border: 2px solid sandybrown; */
        background-color: rgba(51, 49, 49, 0.377);
        width: 90%;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 10px;
    }
    .info {
        /* border: 2px solid greenyellow; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: white;
        justify-content: center;
    }
    form {
        /* border: 2px solid yellow; */
        width: 60%;
        height: 350px;
        margin-top: 30px;
        margin-bottom: 30px;
        /* display: flex; */
        flex-wrap: wrap;
        align-items: center;
    }
    .boxName {
        /* border: 2px solid red; */
        font-family: 'Montserrat', sans-serif;
        color: rgb(0, 0, 0);
        width: 100%;
        height: 70px;
    }
    #name {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.616);
        border: white;
        border-radius: 6px;
    }
    .boxMail {
        /* border: 2px solid red; */
        font-family: 'Montserrat', sans-serif;
        color: rgb(0, 0, 0);
        width: 100%;
        height: 70px;
        margin-top: 8px;
    }
    #email {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.616);
        border: white;
        border-radius: 6px;
    }
    .boxMess {
        /* border: 2px solid red; */
        font-family: 'Montserrat', sans-serif;
        color: rgb(0, 0, 0);
        width: 100%;
        height: 126px;
        margin-top: 8px;
    }
    #message {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100px;
        background-color: rgba(253, 253, 253, 0.616);
        border: white;
        border-radius: 6px;
    }
    .box-btn {
        /* border: 2px solid orangered; */
        margin-top: 20px;
    }
    #btn {
        width: 60px;
        height: 40px;
        font-family: 'Montserrat', sans-serif;
        border-color: white;
    }



    /* REDES SOCIALES ---------------------------------- */

    .redes_sociales {
        /* border: 2px solid red; */
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        width:90% ;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
    }

    .div_redes {
        /* border: 2px solid brown; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    h6 {
        font-family: 'Montserrat', sans-serif;
       
    }

    .iconos_social{
        /* border: 2px solid pink; */
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        width: 100%;
    }

    i  {
        padding: 30px;
       
    }

    #face{
        color:rgb(97, 94, 95);
    }

    #face:hover {
         color:rgb(16, 82, 168);
    }

    #twitter{
        color:rgb(97, 94, 95);
    }

    #twitter:hover{
        color:rgb(20, 154, 231);
    }

    #instagram{
        color:rgb(97, 94, 95);
    }

    #instagram:hover{
        color:rgb(212, 8, 134);
    }

    /* DIV FLECHA ------------------------------ */

    .div_flecha {
        /* border: 2px solid olivedrab; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 40%;
        font-size: 30px;
       
    }
    
    #flecha{
        color: rgba(158, 156, 156, 0.664);
        cursor: pointer;
    }

    


    /* FOOTER --------------------------------------*/
    footer {
        /* border: 2px solid navy; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        bottom: 0;
        color: gray;
        font-size: 15px;
    }

    .designer a {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        bottom: 0;
        color: gray;
        font-size: 12px;
    }

}