/* MEDIA QUERY ----------------------------------------------------------- */



@media only screen and (max-device-width: 480px) {

    .container-fluid {
        /* border: 2px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90% !important;
       
    }

    .navbar .navbar-light {
        /* border: 2px solid black; */
        width: 70%;
    }


    img#logo-baner {
        /* border: 2px solid brown; */
        width: 90%;
        margin-left: -2%;
       
        display: flex;
        flex-wrap: wrap;
    }

    .banner #img-banner {
        min-height: 200px;
        margin-top: -10px;
    }
    .container {
        /* border: 2px solid greenyellow; */
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        margin-left: -3%;
      
    }

    #navbarNav {
        /* border: 2px solid blue; */
        margin-left: 0%;
        /* margin-right: 50%; */
        padding: 5px;
        width: 100%;
    }
    
    #navbarNav  li a {
        /* border: 2px solid green; */
        padding: 12px 6px;
        font-family: "Poppins";
        font-size: 18px;
       
    }



    /* header {
        position: fixed;
        top:0;
        width: 100%;
    } */


    /* HOVER LINKS -------------------- */
    .nav-link:hover {
        background-color: #EAC9C9;
        border-radius: 4px;
    }

     
     
    /* SECTION --------------------------*/

    section {
        /* border: 2px solid pink; */
        width: 100%;
        /* max-width: 1200px; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* margin-top: 130px; */
    }

    .banner {
        /* border: 2px solid darkmagenta; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
    }

    .banner #img-banner {
        width: 100%;
        background: cover;
        object-fit: cover;
        border-radius: 10px;
    }

    .menu_txt {
        /* border: 2px solid mediumslateblue; */
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        height: 45%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu {
        /* border: 2px solid rgb(13, 34, 97); */
        background-color: #f3d5d5;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
       
    }

    .nombre_salon h2 {
        /* border: 2px solid rosybrown; */
        text-align: center;
        font-family: "Poppins";
        font-weight: bold;
        font-size: 35px;
        width: 100%;
        color: gray;
        margin-top: 15%;
        padding-left: 6px;
        padding-right: 6px;
    }

    .parrafo1 {
        font-size: 13px;
        margin-top: 7% ;
        text-align: center;
        font-weight: 300;
    }


    .txt {
        background-color: #E2DDDD;
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

    .parrafo2 {
        /* border: 2px solid mediumspringgreen; */
        background-color: #F4E9E9;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        padding: 30px 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 25px;
        border-radius: 10px;
    }









    /* DIV MENU GUISADOS Y TAQUIZAS / MESA DE DULCES------------ */

    #menu_menu  {
        background-color: #EAC9C9;
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        border-radius: 10px;
    }

    #galeria1  {
        margin-bottom: 10px;
        background-color: #E2DDDD;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        border-radius: 10px;
        border: 3px solid #EAC9C9;
    }

   

    .contenedor_taquiza {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_guisados {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }


    .contenedor_postres {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_hamhot {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }


    .contenedor_tamales {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_inflable {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }





    .galeria_taquiza {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .galeria_guisados {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_postres {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_hamhot {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_tamales {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .galeria_inflable {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .titulo_menu{
        /* border: 2px solid skyblue; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        font-family: 'Montserrat';
        color: #5e5d5d;
        
    }



    .manteleria {
        font-family: 'Montserrat';
        font-size: 15px;
        padding: 25px;
        text-align: center;
        color: #fff;
        border-top: 5px solid rgb(255, 255, 255);
        border-bottom: 5px solid rgb(255, 255, 255);
        border-radius: 25px;
        margin: 31px;
    }




    /* CONTENEDOR GALERIA *----------------------/

    /* Carousel Glider */
    .contenedor {
        max-width: 1700px;
        width: 90%;
        margin: auto;
        /* border: 2px solid gray; */
        /* background-color: rgb(51, 49, 49); */
        margin-top: 50px;
        margin-bottom: 30px;
        border-radius: 10px;
        
    }

    
    /* --- --- CONTENEDOR PRINCIPAL --- --- */

   
    .contenido-principal__imagen {
        vertical-align: top;
        margin-right: 20px;
        width: 50%;
        max-width: 550px;
        border-radius: 10px;
       
    }
    .contenido-principal__contenedor {
        width: 50%;
    }
    .contenido-principal__titulo {
        font-weight: normal;
        font-size: 28px;
    }
    .contenido-principal__resumen {
        font-family: 'Open Sans', sans-serif;
        line-height: 30px;
        color: #CFCFCF;
    }

    .glider-slide img {
        border-radius: 10px;
        border: 4px solid #fff;
    }



    /* --- --- CAROUSEL --- --- */

    .carousel__contenedor {
        position: relative;
       
    }

    .carousel__anterior, .carousel__siguiente, .carousel__siguiente_gal1, .carousel__anterior_gal1, .carousel__siguiente_taco, .carousel__anterior_taco,
    .carousel__siguiente_guisados, .carousel__anterior_guisados, .carousel__siguiente_postres, .carousel__anterior_postres, .carousel__siguiente_hamhot, .carousel__anterior_hamhot,
    .carousel__siguiente_tamales, .carousel__anterior_tamales, .carousel__siguiente_inflable, .carousel__anterior_inflable {
       

        user-select: none;
        position: absolute;
        outline: none;
        background: none;
        padding: 0;
        z-index: 2;
        font-size: 40px;
        text-decoration: none;
        left: -23px;
        border: 0;
        top: 25%;
        cursor: pointer;
        color: rgb(231, 226, 226);
        opacity: 1;
        line-height: 1;
        transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
                    color .5s cubic-bezier(.17,.67,.83,.67);
    }
    

    .carousel__siguiente, .carousel__siguiente_gal1, .carousel__siguiente_taco, .carousel__siguiente_guisados, .carousel__siguiente_postres, .carousel__siguiente_hamhot,
    .carousel__siguiente_tamales, .carousel__siguiente_inflable {
        right: 35px;
        left: auto;
    }

    .carousel__siguiente_taco, .carousel__anterior_taco,
    .carousel__siguiente_guisados, .carousel__anterior_guisados, .carousel__siguiente_postres, .carousel__anterior_postres, .carousel__siguiente_hamhot, .carousel__anterior_hamhot,
    .carousel__siguiente_tamales, .carousel__anterior_tamales, .carousel__siguiente_inflable, .carousel__anterior_inflable {
        user-select: none;
        position: absolute;
        outline: none;
        background: none;
        padding: 0;
        z-index: 2;
        font-size: 40px;
        text-decoration: none;
        left: -55px;
        border: 0;
        top: 25%;
        cursor: pointer;
        color: rgb(255, 255, 255);
        opacity: 1;
        line-height: 1;
        transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
                    color .5s cubic-bezier(.17,.67,.83,.67);
    }

    .carousel__siguiente_taco, .carousel__siguiente_guisados, .carousel__siguiente_postres, .carousel__siguiente_hamhot,
    .carousel__siguiente_tamales, .carousel__siguiente_inflable {
        right: -55px;
        left: auto;
    }

    .carousel__anterior:hover, .carousel__siguiente:hover {
        opacity: 80%;
    }

    
   


    .carousel__lista {
        overflow: hidden;
    }
    .carousel__elemento {
        text-align: center;
    }
    .carousel__indicadores .glider-dot {
       
        background: #fff;
        font-size: 16px;
       
    }
    .carousel__indicadores .glider-dot:hover {
        opacity: .9;
    }
    .carousel__indicadores .glider-dot.active {
        opacity: 1;
    }

   

    .glider-dot.active {
        background: rgba(255, 255, 255, 0.699) !important;
    }

    .glider-dot {
        width: 9px;
        height: 9px;
        margin: 9px;
        border-radius: 3px;
        background-color: rgba(145, 12, 85, 0.363);
    }

    .glider-dots {
        padding-top: 10px;
    } 




    
    /* FORMULARIO ------------------------------------*/


    .formulario {
        /* border: 2px solid sandybrown; */
        background-color: rgba(51, 49, 49, 0.377);
        width: 95%;
        margin-top: -75px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .info {
        /* border: 2px solid greenyellow; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: white;
        text-align: center;
    }


    form {
        /* border: 2px solid yellow; */
        width: 70%;
        height: 350px;
        margin-top: 30px;
        margin-bottom: 30px;
        /* display: flex; */
        flex-wrap: wrap;
        align-items: center;
        font-weight: 300;
    }

    #name, #email,  #message, #btn  {
        padding: 10px;
        font-family: 'Poppins';
        font-size: 14px;  
        background-color: rgb(253, 253, 253);
    }

    #btn {
        color: rgb(253, 253, 253);
        background-color: rgb(12, 91, 136);
        font-size: 14px;
    }

    .box-bnt {
        background-color: #EAC9C9;
    }



    /* MAPA----------------------------- */
    .mapa {
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        justify-content: center;
        margin-top: 20px;
    }
    iframe {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }


    /* REDES SOCIALES ------------------------ */

    .redes_sociales {
        /* border: 2px solid red; */
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        width:90% ;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
    }

    .iconos_social{
        /* border: 2px solid pink; */
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        width: 100%;
    }

    h6 {
       text-align: center;
       font-weight: 300;
       
    }


    /* FLECHA –------------------ */

    .div_flecha {
        /* border: 2px solid olivedrab; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 40%;
        font-size: 40px;
       
    }
   


   
}

