/* For tablets: SURFACE DUO  ----------------------------------*/

@media only screen and (min-width: 500px) {

    .container-fluid {
        /* border: 2px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90% !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar .navbar-light {
        /* border: 2px solid black; */
        width: 70%;
    }


    img#logo-baner {
        /* border: 2px solid brown; */
        width: 60%;
        margin-left: -1%;
       
        display: flex;
        flex-wrap: wrap;
    }

    .banner #img-banner {
        min-height: 200px;
        margin-top: -20px;
    }


    .container {
        /* border: 2px solid greenyellow; */
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        margin-left: -1%;
      
    }

    #navbarNav {
        /* border: 2px solid blue; */
        margin-left: 0%;
        /* margin-right: 50%; */
        padding: 5px;
        width: 100%;
    }
    
    #navbarNav  li a {
        /* border: 2px solid green; */
        padding: 15px 9px;
        font-family: "Poppins";
        font-size: 16px;
       
    }



    /* SECTION --------------------------*/

    .banner {
        /* border: 2px solid darkmagenta; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
    }

    .menu_txt {
        /* border: 2px solid mediumslateblue; */
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        height: 45%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu {
        /* border: 2px solid rgb(13, 34, 97); */
        background-color: #f3d5d5;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
       
    }

    .nombre_salon h2 {
        /* border: 2px solid rosybrown; */
        text-align: center;
        font-family: "Poppins";
        font-weight: bold;
        font-size: 40px;
        width: 100%;
        color: gray;
        margin-top: 15%;
        padding-left: 6px;
        padding-right: 6px;
    }

    .parrafo1 {
        font-size: 13px;
        margin-top: 7% ;
        text-align: center;
        font-weight: 300;
    }

    .txt {
        background-color: #E2DDDD;
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

    .parrafo2 {
        /* border: 2px solid mediumspringgreen; */
        background-color: #F4E9E9;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        padding: 30px 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 10px;
    }

/* DIV MENU GUISADOS Y TAQUIZAS / MESA DE DULCES------------ */

    #menu_menu {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
       
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        border-radius: 10px;
    }

    #galeria1 {
        margin-bottom: 10px;
        background-color: #F4E9E9;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        border-radius: 10px;
        border: 3px solid #EAC9C9;
    }


    .contenedor_taquiza {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_guisados {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }


    .contenedor_postres {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_hamhot {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }


    .contenedor_tamales {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_inflable {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }




    .galeria_taquiza {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .galeria_guisados {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_postres {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_hamhot {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_tamales {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .galeria_inflable {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .titulo_menu{
        /* border: 2px solid skyblue; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        font-family: 'Montserrat';
        font-size: 16px;
        color: #5e5d5d;
    }

    .manteleria {
        font-family: 'Montserrat';
        font-size: 16px;
        padding: 25px;
        text-align: center;
        color: #fff;
        border-top: 5px solid rgb(255, 255, 255);
        border-bottom: 5px solid rgb(255, 255, 255);
        border-radius: 25px;
        margin: 31px;
    }
    
   

    

    /* CONTENEDOR GALERIA *----------------------/

    /* Carousel Glider */
    .contenedor {
        max-width: 1700px;
        width: 90%;
        margin: auto;
        /* border: 2px solid red; */
        /* background-color: rgb(51, 49, 49); */
        margin-top: 50px;
        margin-bottom: 30px;
        
    }

    .carousel__anterior, .carousel__siguiente, .carousel__siguiente_gal1, .carousel__anterior_gal1 {
       
        user-select: none;
        position: absolute;
        outline: none;
        background: none;
        padding: 0;
        z-index: 2;
        font-size: 40px;
        text-decoration: none;
        left: -23px;
        border: 0;
        top: 25%;
        cursor: pointer;
        color: rgb(255, 255, 255);
        opacity: 1;
        line-height: 1;
        transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
                    color .5s cubic-bezier(.17,.67,.83,.67);
    }


    .carousel__siguiente, .carousel__siguiente_gal1 {
        right: 35px;
        left: auto;
    }

    .carousel__siguiente_taco, .carousel__anterior_taco,
    .carousel__siguiente_guisados, .carousel__anterior_guisados, .carousel__siguiente_postres, .carousel__anterior_postres, .carousel__siguiente_hamhot, .carousel__anterior_hamhot,
    .carousel__siguiente_tamales, .carousel__anterior_tamales, .carousel__siguiente_inflable, .carousel__anterior_inflable {
        user-select: none;
        position: absolute;
        outline: none;
        background: none;
        padding: 0;
        z-index: 2;
        font-size: 40px;
        text-decoration: none;
        left: -66px;
        border: 0;
        top: 28%;
        cursor: pointer;
        color: rgb(255, 255, 255);
        opacity: 1;
        line-height: 1;
        transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
                    color .5s cubic-bezier(.17,.67,.83,.67);
    }

    .carousel__siguiente_taco, .carousel__siguiente_guisados, .carousel__siguiente_postres, .carousel__siguiente_hamhot,
    .carousel__siguiente_tamales, .carousel__siguiente_inflable {
        right: -65px;
        left: auto;
    }

    .glider-dot.active {
        background: rgba(255, 255, 255, 0.699) !important;
    }

    .glider-dot {
        width: 11px;
        height: 11px;
        margin: 11px;
        background-color: rgba(145, 12, 85, 0.363);
    }

    .glider-dots {
        padding-top: 13px;
    } 

    .glider-slide img {
        border-radius: 10px;
        border: 4px solid #fff;
        
    }


    /* FORMULARIO ------------------------------------*/


     .formulario {
        /* border: 2px solid sandybrown; */
        background-color: rgba(51, 49, 49, 0.377);
        width: 95%;
        margin-top: -80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 10px;
        font-weight: 300;
    }
    .info {
        /* border: 2px solid greenyellow; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        /* font-family: "Poppins"; */
        font-size: 20px;
        font-weight: 300;
        color: white;
        text-align: center;
    }


    form {
        /* border: 2px solid yellow; */
        width: 70%;
        height: 350px;
        margin-top: 30px;
        margin-bottom: 30px;
        /* display: flex; */
        flex-wrap: wrap;
        align-items: center;
    }

    #name, #email,  #message, #btn  {
        padding: 10px;
        font-family: 'Poppins';
        font-size: 14px;  
        background-color: rgb(253, 253, 253);
    }

    #btn {
       
        color: rgb(253, 253, 253);
        background-color: rgb(12, 91, 136);
        font-size: 14px;
    }

    .box-bnt {
        background-color: #EAC9C9;
        
    }


    /* Box Whatsapp */

    .whatsapp {
       
        background-color: #dad7d76b;
        display: flex;
        width: 60%;
        justify-content: center;
        margin-top: 20px;
        border-radius: 5px;
    }

    h6{
        font-size: 15px;
        margin-bottom: -1px;
        font-family: 'Poppins';
    }

    .cel {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    #whats {
        width: 9%;
        display: flex;
        padding: 3px;
       
    }




    /* MAPA----------------------------- */
    .mapa {
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        justify-content: center;
        margin-top: 20px;
    }
    iframe {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }

    h6 {
        font-weight: 300;
    }



}



/* IPADS -------------------------------------- */


@media screen and (min-width: 766px) {

    .container-fluid {
        /* border: 2px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90% !important;
       
    }

    img#logo-baner {
        /* border: 2px solid brown; */
        width: 70%;
        margin-left: -1%;
        display: flex;
        flex-wrap: wrap;
    }

    .banner #img-banner {
        min-height: 300px;
        margin-top: -10px;
    }

    #navbarNav {
        /* border: 2px solid blue; */
        margin-left: 0%;
        /* margin-right: 50%; */
        padding: 5px;
        width: 100%;
    }

    #navbarNav  li a {
        /* border: 2px solid green; */
        padding: 15px 9px;
        font-family: "Poppins";
        font-size: 20px;
       
    }

    /* SECTION --------------------------*/

    .nombre_salon h2 {
        /* border: 2px solid rosybrown; */
        text-align: center;
        font-family: "Poppins";
        font-weight: bold;
        font-size: 55px;
        width: 100%;
        color: gray;
        margin-top: 15%;
        padding-left: 6px;
        padding-right: 6px;
    }

    .parrafo1 {
        font-size: 20px;
        margin-top: 7% ;
        text-align: center;
        font-weight: 300;
        
    }

    .parrafo2 {
        /* border: 2px solid mediumspringgreen; */
        background-color: #F4E9E9;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: center;
        padding: 30px 30px;
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 10px;
        font-weight: 300;
    }


    /* DIV MENU GUISADOS Y TAQUIZAS / MESA DE DULCES------------ */

   
    #menu_menu {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
       
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        border-radius: 10px;
    }

    #galeria1 {
        margin-bottom: 10px;
        background-color: #F4E9E9;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        border-radius: 10px;
        border: 3px solid #EAC9C9;
    }


    .contenedor_taquiza {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_guisados {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }


    .contenedor_postres {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_hamhot {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }


    .contenedor_tamales {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_inflable {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }


    .galeria_taquiza {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .galeria_guisados {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_postres {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_hamhot {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_tamales {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .galeria_inflable {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 82%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .titulo_menu{
        /* border: 2px solid skyblue; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        font-family: 'Montserrat';
        font-size: 20px;
    }

    .manteleria {
        font-family: 'Montserrat';
        font-size: 17px;
        padding: 25px;
        text-align: center;
        color: #fff;
        border-top: 5px solid rgb(255, 255, 255);
        border-bottom: 5px solid rgb(255, 255, 255);
        border-radius: 25px;
        margin: 32px;
    }

    
    
    
    
    /* FORMULARIO ------------------------------------*/

    .info {
        /* border: 2px solid greenyellow; */
        font-weight: 300;
        font-size: 19px;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    form {
        /* border: 2px solid yellow; */
       font-weight: 300;
    }
    
    #btn {
        font-weight: 300;
    } 

    /* REDES SOCIALES ------------------------------ */

    h6 {
        font-weight: 300;
        font-size: 17px;
    }
}



/* BOX WHATSAPP */


/* .cel {
    width: 28%;
} */

/* #whats {
    width: 7%;
    display: flex;
    padding: 3px;
} */

/* .num {
    font-size: 16px;
} */











/* TABLET IPAD-PRO --------------------------------------------------*/

@media only screen and (min-width:1024px) {
    .container-fluid {
        /* border: 2px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90% !important;
        padding-top: 10px;
        padding-bottom: 10px;
       
    }

    img#logo-baner {
        /* border: 2px solid brown; */
        width: 95%;
        margin-left: -1%;
        display: flex;
        flex-wrap: wrap;
    }

   

    #navbarNav {
        /* border: 2px solid blue; */
        margin-left: 20%;
        /* margin-right: 50%; */
        padding: 5px;
        width: 100%;
    }

    #navbarNav  li a {
        /* border: 2px solid green; */
        padding: 25px 29px;
        font-family: "Poppins";
        font-size: 20px;
       
    }

     /* SECTION --------------------------*/

     .nombre_salon h2 {
        /* border: 2px solid rosybrown; */
        text-align: center;
        font-family: "Poppins";
        font-weight: bold;
        font-size: 65px;
        width: 100%;
        color: gray;
        margin-top: 15%;
        padding-left: 6px;
        padding-right: 6px;
    }

    .parrafo1 {
        font-size: 22px;
        margin-top: 5% ;
        text-align: center;
        font-weight: 300;
        padding: 20px;
        
    }

    .txt {
        padding: 20px;
    }

    .parrafo2 {
        /* border: 2px solid mediumspringgreen; */
        background-color: #F4E9E9;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: center;
        padding: 35px 35px;
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 10px;
        font-weight: 300;
    }

    /* DIV MENU GUISADOS Y TAQUIZAS / MESA DE DULCES------------ */

   
    #menu_menu {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
       
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        border-radius: 10px;
    }

    #galeria1 {
        margin-bottom: 10px;
        background-color: #F4E9E9;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        border-radius: 10px;
        border: 3px solid #EAC9C9;
    }


    .contenedor_taquiza {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_guisados {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }


    .contenedor_postres {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_hamhot {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }


    .contenedor_tamales {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }

    .contenedor_inflable {
        background-color: #EAC9C9;
        /* border: 2px solid black; */
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
    }


    .galeria_taquiza {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 81%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .galeria_guisados {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 81%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_postres {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 81%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_hamhot {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 81%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    .galeria_tamales {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 81%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .galeria_inflable {
        /* border: 2px solid darkolivegreen; */
        display: flex;
        flex-wrap: wrap;
        width: 81%;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .titulo_menu{
        /* border: 2px solid skyblue; */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        font-family: 'Montserrat';
        font-size: 20px;
    }

    .manteleria {
        font-family: 'Montserrat';
        font-size: 20px;
        padding: 25px;
        text-align: center;
        color: #fff;
        border-top: 5px solid rgb(255, 255, 255);
        border-bottom: 5px solid rgb(255, 255, 255);
        border-radius: 25px;
        margin: 39px;
        
    }

    
   
  



    /* CARRUSEL-------------------------------------- */

    .glider-slide img {
        
        border: 3px solid #fff;
       
    }

    /* FORMULARIO ------------------------------------*/

    .info {
        /* border: 2px solid greenyellow; */
        font-weight: 300;
        font-size: 22px;
        padding-top: 10px;
    }



/* BOX WHATSAPP */


.whatsapp {
    width: 55%;
}

#whats {
    width: 6%;
    display: flex;
    padding: 3px;
}

.cel {
    width: 20%;
    font-size: 18px;
}

.num {
    font-size: 16px;
}




    form {
        /* border: 2px solid yellow; */
       font-weight: 300;
    }
    
    #btn {
        font-weight: 300;
    } 

    /* REDES SOCIALES ------------------------------ */

    h6 {
        font-weight: 300;
        font-size: 20px;
    }

    .div_flecha {
        font-size: 30px;
    }


}





    
